:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  background-color: var(--sertao-primary-shade);
  border-top-right-radius: 2.5rem;
  height: 6rem;
}

.description-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  color: var(--sertao-light);

  .description-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-family: var(--display-large-family);
      font-size: var(--title-large-size);
      font-weight: 400;
    }

    .price {
      font-family: var(--display-large-family);
      font-size: var(--title-large-size);
      font-weight: 400;

      &-sign {
        font-size: var(--label-small-size);
      }
    }
  }

  .description {
    font-family: var(--label-large-family);
    font-size: var(--body-medium-size);
    font-weight: 300;
  }
}
