:root {
  --color-primary: #9a4521;
  --color-on-primary: #ffffff;
  --color-primary-container: #ffdbce;
  --color-on-primary-container: #370e00;
  --color-secondary: #406917;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #c0f18f;
  --color-on-secondary-container: #0e2000;
  --color-tertiary: #934b00;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #ffdcc5;
  --color-on-tertiary-container: #301400;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #410002;
  --color-background: #fffbff;
  --color-on-background: #311300;
  --color-surface: #fffbff;
  --color-on-surface: #311300;
  --color-surface-variant: #f5ded6;
  --color-on-surface-variant: #53433e;
  --color-outline: #85736d;
  --color-inverse-on-surface: #ffede4;
  --color-inverse-surface: #512400;
  --color-inverse-primary: #ffb599;
  --color-shadow: #000000;
  --color-surface-tint: #9a4521;
  --color-outline-variant: #d8c2bb;
  --color-scrim: #000000;
  --color-primary-light: #9a4521;
  --color-on-primary-light: #ffffff;
  --color-primary-container-light: #ffdbce;
  --color-on-primary-container-light: #370e00;
  --color-secondary-light: #406917;
  --color-on-secondary-light: #ffffff;
  --color-secondary-container-light: #c0f18f;
  --color-on-secondary-container-light: #0e2000;
  --color-tertiary-light: #934b00;
  --color-on-tertiary-light: #ffffff;
  --color-tertiary-container-light: #ffdcc5;
  --color-on-tertiary-container-light: #301400;
  --color-error-light: #ba1a1a;
  --color-error-container-light: #ffdad6;
  --color-on-error-light: #ffffff;
  --color-on-error-container-light: #410002;
  --color-background-light: #fffbff;
  --color-on-background-light: #311300;
  --color-surface-light: #fffbff;
  --color-on-surface-light: #311300;
  --color-surface-variant-light: #f5ded6;
  --color-on-surface-variant-light: #53433e;
  --color-outline-light: #85736d;
  --color-inverse-on-surface-light: #ffede4;
  --color-inverse-surface-light: #512400;
  --color-inverse-primary-light: #ffb599;
  --color-shadow-light: #000000;
  --color-surface-tint-light: #9a4521;
  --color-outline-variant-light: #d8c2bb;
  --color-scrim-light: #000000;
  --color-primary-dark: #ffb599;
  --color-on-primary-dark: #5a1c00;
  --color-primary-container-dark: #7b2f0a;
  --color-on-primary-container-dark: #ffdbce;
  --color-secondary-dark: #a5d576;
  --color-on-secondary-dark: #1c3700;
  --color-secondary-container-dark: #2b5000;
  --color-on-secondary-container-dark: #c0f18f;
  --color-tertiary-dark: #ffb782;
  --color-on-tertiary-dark: #4f2500;
  --color-tertiary-container-dark: #703800;
  --color-on-tertiary-container-dark: #ffdcc5;
  --color-error-dark: #ffb4ab;
  --color-error-container-dark: #93000a;
  --color-on-error-dark: #690005;
  --color-on-error-container-dark: #ffdad6;
  --color-background-dark: #311300;
  --color-on-background-dark: #ffdbc7;
  --color-surface-dark: #311300;
  --color-on-surface-dark: #ffdbc7;
  --color-surface-variant-dark: #53433e;
  --color-on-surface-variant-dark: #d8c2bb;
  --color-outline-dark: #a08d86;
  --color-inverse-on-surface-dark: #311300;
  --color-inverse-surface-dark: #ffdbc7;
  --color-inverse-primary-dark: #9a4521;
  --color-shadow-dark: #000000;
  --color-surface-tint-dark: #ffb599;
  --color-outline-variant-dark: #53433e;
  --color-scrim-dark: #000000;
  --palette-primary-0: #000000;
  --palette-primary-10: #370e00;
  --palette-primary-20: #5a1c00;
  --palette-primary-30: #7b2f0a;
  --palette-primary-40: #9a4521;
  --palette-primary-50: #b95d36;
  --palette-primary-60: #d9764d;
  --palette-primary-70: #f98f64;
  --palette-primary-80: #ffb599;
  --palette-primary-90: #ffdbce;
  --palette-primary-95: #ffede7;
  --palette-primary-99: #fffbff;
  --palette-primary-100: #ffffff;
  --palette-secondary-0: #000000;
  --palette-secondary-10: #0e2000;
  --palette-secondary-20: #1c3700;
  --palette-secondary-30: #2b5000;
  --palette-secondary-40: #406917;
  --palette-secondary-50: #58832f;
  --palette-secondary-60: #719d46;
  --palette-secondary-70: #8bb95e;
  --palette-secondary-80: #a5d576;
  --palette-secondary-90: #c0f18f;
  --palette-secondary-95: #d1ffa2;
  --palette-secondary-99: #f8ffea;
  --palette-secondary-100: #ffffff;
  --palette-tertiary-0: #000000;
  --palette-tertiary-10: #301400;
  --palette-tertiary-20: #4f2500;
  --palette-tertiary-30: #703800;
  --palette-tertiary-40: #934b00;
  --palette-tertiary-50: #b2631a;
  --palette-tertiary-60: #d27b33;
  --palette-tertiary-70: #f1954a;
  --palette-tertiary-80: #ffb782;
  --palette-tertiary-90: #ffdcc5;
  --palette-tertiary-95: #ffede3;
  --palette-tertiary-99: #fffbff;
  --palette-tertiary-100: #ffffff;
  --palette-neutral-0: #000000;
  --palette-neutral-10: #311300;
  --palette-neutral-20: #512400;
  --palette-neutral-30: #733600;
  --palette-neutral-40: #954906;
  --palette-neutral-50: #b46121;
  --palette-neutral-60: #d47a38;
  --palette-neutral-70: #f4944f;
  --palette-neutral-80: #ffb687;
  --palette-neutral-90: #ffdbc7;
  --palette-neutral-95: #ffede4;
  --palette-neutral-99: #fffbff;
  --palette-neutral-100: #ffffff;
  --palette-neutral-variant-0: #000000;
  --palette-neutral-variant-10: #251914;
  --palette-neutral-variant-20: #3b2d28;
  --palette-neutral-variant-30: #53433e;
  --palette-neutral-variant-40: #6b5b55;
  --palette-neutral-variant-50: #85736d;
  --palette-neutral-variant-60: #a08d86;
  --palette-neutral-variant-70: #bba7a0;
  --palette-neutral-variant-80: #d8c2bb;
  --palette-neutral-variant-90: #f5ded6;
  --palette-neutral-variant-95: #ffede7;
  --palette-neutral-variant-99: #fffbff;
  --palette-neutral-variant-100: #ffffff;
  --palette-error-0: #000000;
  --palette-error-10: #410002;
  --palette-error-20: #690005;
  --palette-error-30: #93000a;
  --palette-error-40: #ba1a1a;
  --palette-error-50: #de3730;
  --palette-error-60: #ff5449;
  --palette-error-70: #ff897d;
  --palette-error-80: #ffb4ab;
  --palette-error-90: #ffdad6;
  --palette-error-95: #ffedea;
  --palette-error-99: #fffbff;
  --palette-error-100: #ffffff;
  --display-large-family: Roboto Slab;
  --display-large-weight: Regular;
  --display-medium-family: Roboto Slab;
  --display-medium-weight: Regular;
  --display-small-family: Roboto Slab;
  --display-small-weight: Regular;
  --headline-large-family: Roboto Slab;
  --headline-large-weight: Regular;
  --headline-medium-family: Roboto Slab;
  --headline-medium-weight: Regular;
  --headline-small-family: Roboto Slab;
  --headline-small-weight: Regular;
  --body-large-family: Roboto Slab;
  --body-large-weight: Regular;
  --body-medium-family: Roboto Slab;
  --body-medium-weight: Regular;
  --body-small-family: Roboto Slab;
  --body-small-weight: Regular;
  --label-large-family: Roboto Slab;
  --label-large-weight: Medium;
  --label-medium-family: Roboto Slab;
  --label-medium-weight: Medium;
  --label-small-family: Roboto Slab;
  --label-small-weight: Medium;
  --title-large-family: Roboto Slab;
  --title-large-weight: Regular;
  --title-medium-family: Roboto Slab;
  --title-medium-weight: Medium;
  --title-small-family: Roboto Slab;
  --title-small-weight: Medium;

  --display-large-size: 3.563rem;
  --display-medium-size: 2.8rem;
  --display-small-size: 2.25rem;

  --headline-large-size: 2rem;
  --headline-medium-size: 1.75rem;
  --headline-small-size: 1.5rem;

  --body-large-size: 1rem;
  --body-medium-size: 0.875rem;
  --body-small-size: 0.75rem;

  --label-large-size: 0.875rem;
  --label-medium-size: 0.75rem;
  --label-small-size: 0.688rem;

  --title-large-size: 1.375rem;
  --title-medium-size: 1rem;
  --title-small-size: 0.875rem;
}
