<sb-header [loading]="loading" [scrollShadow]="headerScrollShadow"></sb-header>
<div class="container" *ngIf="!loading">
  <sb-menu-section
    #section
    *ngFor="let section of sections"
    [items]="section | sectionItems : items"
    [name]="section"
  ></sb-menu-section>
</div>
<sb-category-list
  *ngIf="!loading"
  [menuLoaded]="items.size > 0"
  [sections]="sections"
  [selectedSection]="selectedSection"
  [scrollShadow]="categoryListScrollShadow"
  (sectionChanged)="onSectionChange($event)"
></sb-category-list>
