:host {
  display: flex;
  padding: 0 1rem;
  background-color: var(--sertao-secondary);
  color: var(--sertao-primary-shade);
  border-radius: 4rem;
  align-items: center;
  height: 2rem;
  cursor: pointer;
  border: none;
  white-space: pre;
  font-family: var(--title-large-family);
  font-size: var(--title-medium-size);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  -webkit-tap-highlight-color: transparent;

  &.active {
    background-color: var(--sertao-secondary-shade);
    color: var(--sertao-light);
  }
}
