@import "./styles/reset.scss";
@import "./styles/_variables.scss";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #fff6f2;
}

body {
  height: 100%;

  overflow: overlay;
}

header {
  display: flex;
  width: 100%;
  z-index: 10;
  position: relative;
  position: fixed;
  padding: 20px 0;
  background-color: var(--sertao-light);
  transition-property: height, background-color;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
  justify-content: center;
  align-items: center;

  .logo {
    height: 2rem;
  }
}
